/*	Hero Image per page	*/
/*	Hero Image - Home	*/
.page-home .bgimg-hero
{
	background-image: url("/assets/images/hero-images/home-hero-01.jpg");
	/*	min-height: 400px;	*/
}

/*	Hero Image - About Us	*/
.page-about-us .bgimg-hero
{
	background-image: url("/assets/images/hero-images/about-us-hero-01.jpg");
	/*	min-height: 400px;	*/
}

/*	Hero Image - Dances	*/
.page-dances .bgimg-hero
{
	background-image: url("/assets/images/hero-images/dances-hero-01.jpg");
	/*	min-height: 400px;	*/
}

/*	Hero Image - Events	*/
.page-events .bgimg-hero
{
	background-image: url("/assets/images/hero-images/events-hero-01.jpg");
	/*	min-height: 400px;	*/
}

/*	Hero Image - Photos	*/
.page-photos .bgimg-hero
{
	background-image: url("/assets/images/hero-images/photos-hero-01.jpg");
	/*	min-height: 400px;	*/
}

/*	Hero Image - Contact	*/
.page-contact .bgimg-hero
{
	background-image: url("/assets/images/hero-images/contact-hero-01.jpg");
	/*	min-height: 400px;	*/
}
