/*	Hero Image per page	*/
/*	Home		*/	.page-home .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/home-hero-01.jpg");}
/*	Contact		*/	.page-contact .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/contact-hero-01.jpg");}
/*	Dances		*/	.page-dances .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/dances-hero-01.jpg");}
/*	Events		*/	.page-events .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/events-hero-01.jpg");}
/*	Gasllery	*/	.page-gallery .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/gallery-hero-01.jpg");}
/*	Press		*/	.page-press .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/press-hero-01.jpg");}
/*	Privacy		*/	.page-privacy .bgimg-hero {		/* min-height: 400px; */	background-image: url("/assets/images/hero-images/privacy-hero-01.jpg");}
