:root {
--kwlogoblue: #1c5393;
--kwblue: #2162ad;
--kwgrey: #c7ccd1;
--kwdarkgrey: #6a6c6c;
--kwpalegrey: #e3e4e5;
--kwyellow:#fae22a;
--kwpaleblue: #8cacc8;
}

/*	Site Header Hero Image Area	*/
.bgimg-hero {}

.bgimg-hero .site-title {
  background-color: var(--kwlogoblue: #1c5393);
  /*background-color: rgba(28, 83, 147, 0.6);*/ /*	--kwlogoblue: #1c5393;	*/
  border: 1em solid black;
}

/*	Hero Image per page	*/
/*	Hero Image - Home	*/
.page-home .bgimg-hero {
  background-image: url("/assets/images/hero-images/home-hero-01.jpg");
/*	min-height: 400px;	*/
}

/*	Hero Image - About Us	*/
.page-about-us .bgimg-hero {
  background-image: url("/assets/images/hero-images/about-us-hero-01.jpg");
/*	min-height: 400px;	*/
}

/*	Hero Image - Dances	*/
.page-dances .bgimg-hero {
  background-image: url("/assets/images/hero-images/dances-hero-01.jpg");
/*	min-height: 400px;	*/
}

/*	Hero Image - Events	*/
.page-events .bgimg-hero {
  background-image: url("/assets/images/hero-images/events-hero-01.jpg");
/*	min-height: 400px;	*/
}

/*	Hero Image - Photos	*/
.page-photos .bgimg-hero {
  background-image: url("/assets/images/hero-images/photos-hero-01.jpg");
/*	min-height: 400px;	*/
}

/*	Hero Image - Contact	*/
.page-contact .bgimg-hero {
  background-image: url("/assets/images/hero-images/contact-hero-01.jpg");
/*	min-height: 400px;	*/
}
