/*
--kwlogoblue: #1c5393;
--kwblue: #2162ad;
--kwgrey: #c7ccd1;
--kwdarkgrey: #6a6c6c;
--kwpalegrey: #e3e4e5;
--kwyellow:#fae22a;
--kwpaleblue: #8cacc8;
*/

/*	Site Header Hero Image Area	*/
.bgimg-hero {
  background-color: #c7ccd1;
}

.bgimg-hero::before {
  /* Choose your tint color */
  /*background-color: #1c5393cc; *//* KW Blue tint / rgb(28 83 147 / 80%)*/
}

.bgimg-hero .site-title {
  background-color: #1c5393cc;
  border: 0.2em solid black;
  margin: 0.5em;
}

/* Colors */
.w3-kwblue,.w3-hover-kwblue:hover{color:#fff!important;background-color:#1c5393!important}