.mbevent {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 6px;
    background: #fafafa;
}

.mbevent[id^="future-event_"] {
    background-color: #eef3ff;
    /* color: #ffffff; */
}

.mbevent[id^="past-event_"] {
    background-color: #fceeee;
    /* color: #ffffff; */
}

.mbevent-date {
    font-weight: bold;
    color: #003366;
    margin-bottom: 3px;
}

.mbevent-time {
    margin-bottom: 6px;
    font-style: italic;
}

.mbevent-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.mbevent-location {
    font-style: italic;
    margin-top: 5px;
}

.mbevent-description {
    margin-top: 8px;
}
