/*	Cascading Style Sheet
	Website Base Template from W3Schools
	W3.CSS Template | https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm
*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/*	Hero Image - Create a Parallax Effect	*/
.bgimg-hero {
min-height: 800px;
max-height: 100%;
/*	min-height: 100%;	*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*	Hero Branding Blocks	*/
.bgimg-hero span {display:block; margin-left:auto; margin-right:auto; text-align:center;}

/*	Hero Branding Logo Image	*/
.bgimg-hero .main-logo {width:200px;}

/* Hero Image - Mobile fallback */
@media (max-width: 1024px) {
  .bgimg-hero {
    background-attachment: scroll;
  }

  .bgimg-hero .main-logo {width:150px;}
}

.w3-wide {/*letter-spacing: 10px;*/}
.w3-hover-opacity {cursor: pointer;}

/*	Turn off parallax scrolling for tablets and phones	*/
@media only screen and (max-device-width: 1600px) {
  .bgimg-hero {
    background-attachment: scroll;
    min-height: 400px;
  }
}