/*	Cascading Style Sheet
	Website Base Template from W3Schools
	W3.CSS Template | https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm
*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/*	Hero Image - Create a Parallax Effect	*/
.bgimg-hero {
/*  min-height: 400px; */
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hero Image - Mobile fallback */
@media (max-width: 1024px) {
  .bgimg-hero {
    background-attachment: scroll;
  }
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/*	Turn off parallax scrolling for tablets and phones	*/
@media only screen and (max-device-width: 1600px) {
  .bgimg-hero {
    background-attachment: scroll;
    min-height: 400px;
  }
}