/*	Cascading Style Sheet
	Website Base Template from W3Schools
	W3.CSS Template | https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm
*/

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/*	Hero Image - Create a Parallax Effect	*/
.bgimg-hero {
  position: relative;
  min-height: 100vh;
/*	min-height: 800px;	*/
/*	min-height: 100%;	*/
/*	max-height: 100%;	*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Crispness */
  filter: grayscale(100%) contrast(1.2) brightness(1.1);
}

.bgimg-hero::before {
  content: "";
  position: absolute;
  inset: 0;

  /* Choose your tint color */
  background-color: #1c5393cc); /* KW Blue tint */

  /* Key magic */
  mix-blend-mode: hard-light;

  z-index: 1;
}

.bgimg-hero > div {
  position: relative;
  z-index: 2;
}

/*	Hero Branding Blocks	*/
.bgimg-hero span {display:block; margin-left:auto; margin-right:auto; text-align:center;}

/*	Hero Branding Logo Image	*/
.bgimg-hero .main-logo {width:200px;}

/* Hero Image - Mobile fallback */
@media (max-width: 1024px) {
  .bgimg-hero {
    background-attachment: scroll;
  }

  .bgimg-hero .main-logo {width:130px;}
}

.w3-wide {/*letter-spacing: 10px;*/}
.w3-hover-opacity {cursor: pointer;}

/*	Turn off parallax scrolling for tablets and phones	*/
@media only screen and (max-device-width: 1600px) {
  .bgimg-hero {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .bgimg-hero .site-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
